<a href="https://colab.research.google.com/github/ducduy2612-20/AdvancedPythonProgramming/blob/main/Lab02/lab02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chương 8**

câu 1

In [6]:
kingdoms = ['Bacteria', 'Protozoa', 'Chromista','Plantae', 'Fungi','Animalia' ];
print(kingdoms[0])
print(kingdoms[5])
print(kingdoms[:3])
print(kingdoms[2:5])
print(kingdoms[4:])
print(kingdoms[1:0])

Bacteria
Animalia
['Bacteria', 'Protozoa', 'Chromista']
['Chromista', 'Plantae', 'Fungi']
['Fungi', 'Animalia']
[]

câu 2

In [7]:
kingdoms = ['Bacteria', 'Protozoa', 'Chromista','Plantae', 'Fungi','Animalia' ];
print(kingdoms[-6])
print(kingdoms[-1])
print(kingdoms[-6:-3])
print(kingdoms[-4:-1])
print(kingdoms[-2:])
print(kingdoms[-1:-2])

Bacteria
Animalia
['Bacteria', 'Protozoa', 'Chromista']
['Chromista', 'Plantae', 'Fungi']
['Fungi', 'Animalia']
[]

câu 3

In [8]:
appointments=['9:00', '10:30', '14:00', '15:00','15:30'];
appointments.append('16:30')
print(appointments)
#Cau B
appointments += ['16:30']
# Cau C:: The approach in (a) modifies the appointments. The one in (b) creates a new appointments

['9:00', '10:30', '14:00', '15:00', '15:30', '16:30']

câu 4

In [9]:
ids =[4353, 2314, 2956, 3382, 9362, 3900]
#cau a. 
ids.remove(3382)
print(ids)
#cau b. 
ids.index(9362)
print(ids)
#cau c. 
ids.insert(ids.index(9362) + 1, 4499)
print(ids)
#cau d. 
ids = ids + [5566, 1830]
print(ids)
#cau e. 
ids.reverse()
print(ids)
#cau f. 
ids.sort()
print(ids)

[4353, 2314, 2956, 9362, 3900]
[4353, 2314, 2956, 9362, 3900]
[4353, 2314, 2956, 9362, 4499, 3900]
[4353, 2314, 2956, 9362, 4499, 3900, 5566, 1830]
[1830, 5566, 3900, 4499, 9362, 2956, 2314, 4353]
[1830, 2314, 2956, 3900, 4353, 4499, 5566, 9362]

câu 5

In [10]:
alkaline_earth_metals = ['metals—beryllium','magnesium', ' calcium',' strontium','barium','radium']
#Cau a. 
alkaline_earth_metals = [4, 12, 20, 38, 56, 88]
#Cau b. 
print(alkaline_earth_metals[5], alkaline_earth_metals[-1])
#Cau c. 
print(len(alkaline_earth_metals))
#Cau d. 
print(max(alkaline_earth_metals))

88 88
6
88

câu 6

In [11]:
#Cau a. 
temps = [25.2, 16.8, 31.4, 23.9, 28, 22.5, 19.6]
print(temps)
#Cau b. 
temps.sort()
print(temps)
#Cau c.
cool_temps = temps[0:2]
print(cool_temps)
warm_temps = temps[2:]
print(warm_temps)
#Cau d. 
temps_in_celsius = cool_temps + warm_temps
print(temps_in_celsius)

[25.2, 16.8, 31.4, 23.9, 28, 22.5, 19.6]
[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]
[16.8, 19.6]
[22.5, 23.9, 25.2, 28, 31.4]
[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]

câu 7

In [12]:
def same_first_last(L : list ) -> bool:
  if len(L) >= 2 and L[0] == L[-1]:
    print(True)
  else:
    print(False)

same_first_last([3, 4, 2, 8, 3])
same_first_last(['apple', 'banana', 'pear'])
same_first_last([4.0, 4.5])

True
False
False

câu 8

In [13]:
def is_longer(L1: list, L2: list) -> bool:
  if len(L1) > len(L2):
    print(True)
  else:
    print(False)
is_longer([1, 2, 3], [4, 5])
is_longer(['abcdef'], ['ab', 'cd', 'ef'])
is_longer(['a', 'b', 'c'], [1, 2, 3])

True
False
False

câu 9

In [14]:
values = [0, 1, 2]
values[1] = values

print(values)

[0, [...], 2]

câu 10

In [15]:
units =[['km', 'miles', 'league'],['kg', 'pound', 'stone']]
#a. 
print(units[0])
#b. 
print(units[-1] or units[1])
#c. 
print(units[0][0])
#d. 
print(units[1][0])
#e. 
print(units[0][1:])
#f. 
print(units[1][0:2])

['km', 'miles', 'league']
['kg', 'pound', 'stone']
km
kg
['miles', 'league']
['kg', 'pound']

câu 11

In [16]:
units =[['km', 'miles', 'league'],['kg', 'pound', 'stone']]
#a.
print(units[-2])
#b. 
print(units[-1])
#c. 
print(units[-2][-3])
#d. 
print(units[-1][-3])
#e. 
print(units[-2][-2:])
#f. 
print(units[-1][:-1])

['km', 'miles', 'league']
['kg', 'pound', 'stone']
km
kg
['miles', 'league']
['kg', 'pound']

## **Chương 9**

câu 1

In [17]:
celegans_phenotypes = ['Emb','Him', 'Unc', 'Lon', 'Dpy', 'Sma']
for phenotype in celegans_phenotypes:
 print(phenotype)

Emb
Him
Unc
Lon
Dpy
Sma

câu 2

In [18]:
half_lives = [87.74, 24110.0,6537.0, 14.4, 376000.0]
for value in half_lives:
 print(value, end=' ')

87.74 24110.0 6537.0 14.4 376000.0

câu 3

In [19]:
whales = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
more_whales = []
for count in whales:
 more_whales.append(count + 1)
print(more_whales)

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

câu 4

In [20]:
#a.
alkaline_earth_metals = [[4, 9.012], [12, 24.305],[20, 40.078], [38, 87.62],[56, 137.327], [88, 226]]
#b.
for inner_list in alkaline_earth_metals:
 print("inner_list[0]",inner_list[0])
 print("inner_list[1]",inner_list[1])
#c.
number_and_weight = []
for inner_list in alkaline_earth_metals:
 number_and_weight.append(inner_list[0])
 number_and_weight.append(inner_list[1])
 print(number_and_weight[0])
 print(number_and_weight[1])

inner_list[0] 4
inner_list[1] 9.012
inner_list[0] 12
inner_list[1] 24.305
inner_list[0] 20
inner_list[1] 40.078
inner_list[0] 38
inner_list[1] 87.62
inner_list[0] 56
inner_list[1] 137.327
inner_list[0] 88
inner_list[1] 226
4
9.012
4
9.012
4
9.012
4
9.012
4
9.012
4
9.012

câu 5

In [21]:
values = [[4,9.012],[12, 24.305],[20, 40.078],[38, 87.62],[56, 137.327],[88,226]]

def mystery_function(values):
    result = []
    for sublist in values:
        result.append([sublist[0]])
        for i in sublist[1:]:
            result[-1].insert(0, i)
    return result

mystery_function(values)

[[9.012, 4], [24.305, 12], [40.078, 20], [87.62, 38], [137.327, 56], [226, 88]]

câu 6

In [22]:
text = ""
while text.lower() != "quit":
 text = input("Please enter 'QUIT' or 'quit' to exit: ")
 if text == "quit":
  print("…exiting program")
 elif text =="QUIT":
   print("…exiting program")
 else:
  print("Unknown compound")

Please enter 'QUIT' or 'quit' to exit: quit
…exiting program

câu 7

In [23]:
country_populations = [1295, 23, 7, 3, 47, 21]
total = 0
for population in country_populations:
 total += population
print(total)

1396

câu 8

In [33]:
#a.
if rat_1[0] > rat_2[0]:
 print("Rat 1 weighed more than rat 2 on day 1.")
else:
 print("Rat 1 weighed less than rat 2 on day 1.")
#b.
if rat_1[0] > rat_2[0] and rat_1[-1] > rat_2[-1]:
 print("Rat 1 remained heavier than Rat 2.")
else:
 print("Rat 2 became heavier than Rat 1.")
#c.
if rat_1[0] > rat_2[0]:
 if rat_1[-1] > rat_2[-1]:
  print("Rat 1 remained heavier than Rat 2.")
 else:
  print("Rat 2 became heavier than Rat 1.")
else:
  print("Rat 2 became heavier than Rat 1.")

NameError: ignored

câu 9

In [32]:
for number in range(33, 50):
 print(number)

33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

câu 10

In [31]:
for number in range(10):
 print(10 - number, end=' ')

10 9 8 7 6 5 4 3 2 1

câu 11

In [30]:
sum = 0
count = 0
for number in range(2,23):
 sum += number
 count += 1
average = sum / count
print(average)

12.0

câu 12

In [29]:
def remove_neg(num_list):
 index = 0
 while index < len(num_list):
  if num_list[index] < 0:
    del num_list[index]
  else:
    index += 1

câu 13

In [28]:
for width in range(1, 8):
 print('T' * width)

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT

câu 14

In [27]:
for width in range(1, 8):
 print(' ' * (7 - width), 'T' * width, sep='')

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

câu 15

In [25]:
width = 1
while width < 8:
 print('T' * width)
 width += 1
width = 1
while width < 8:
 print(' ' * (7 - width), 'T' * width, sep='')
 width += 1

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT
      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

câu 16

In [26]:
#a.
week = 1
while rat_1_weight[week] / rat_1_weight[0] - 1 < .25:
  week += 1

print(week)
#b.
week = 0
while rat_1_weight[week] / rat_2_weight[week] - 1 < .10:
 week += 1
 
print(week)

NameError: ignored